$font-family: 'Roboto', sans-serif;
$navbar-color: #282828;
$hero-color: chocolate;
$hero-secondary-color: rgb(138, 57, 0);
$feature-padding: 20px;
$shadow-color: rgba(0,0,0,0.2);
$shadow-intense-color: rgba(0,0,0,0.5);
$card-body-padding: 10px;
$services-background: #f9f9f9;
$services-header-color: #333;
$carousel-item-height: 400px;
$carousel-caption-color: #fff;
$accordion-border-radius: 1rem;
$accordion-shadow: rgba(0, 0, 0, 0.15);
$accordion-background: #f8f9fa;
$accordion-button-color: #495057;
$accordion-button-hover-bg: #e9ecef;
$accordion-button-collapsed-bg: #f8f9fa;
$accordion-card-body-color: #6c757d;
$footer-background: #000000;
$footer-color: #fff;